{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts limit="5"}}
<article class="{{post_class}}">
    {{#if image}}<div class="post-img"></div>{{/if}}
    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <div class="post-data">
        <div>NO. {{id}}</div>
        <p>{{date}}</p>
        <p>in</p>
        <div>{{tags}}</div>
    </div>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
